.contract {
  background: #000;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: space-around;
  gap: 3rem;
  padding: 10%;
}

.contract-img{
  align-self: center;
  text-align: center;
  width: 50%;
}

.contract-img img {
  width: 90%;
}

.contract-desc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
}

.contract-desc h1 {
  font-size: 4.5rem;
  overflow-wrap: break-word;
  width: 70%;
  font-weight: 900;
  letter-spacing: -2.5px;
}

.address{
  font-size: 3rem;
  color: #F18099;
  background-image: linear-gradient(135deg, #cb5eee 0%, #4be1ec 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.contract-desc p span:not(:last-child){
  font-size: 2rem;
  background-image: linear-gradient(135deg, #d6ff7f 0%, #00b3cc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  background-repeat: no-repeat;
}

.token {
  font-size: 3.3rem;
  background-image: linear-gradient(135deg, #ffcc33 0%, #e233ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  background-repeat: no-repeat;
}
 

.contract-desc button {
  border-radius: 30px;
  border: none;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  width: 40%;
}

@media screen and (max-width: 1081px) {
  .contract-desc h1{
    font-size: 2rem;
    letter-spacing: 0;
  }

  .contract-desc h3 span{
    font-size: 1.5rem;
  }

  .contract-desc button{
    width: 100%;
  }
}
