.companies-container{
    display: flex;
    flex-direction: column;
    background: url('https://renderer-v2.vercel.app/_next/image?url=https%3A%2F%2Fapi.typedream.com%2Fv0%2Fdocument%2Fpublic%2Ff95018a7-0031-4e20-9ee2-f8ae0feeac2a_gradient_11_png.png&w=1920&q=100');
    width: 100%;
    color: #fff;
    align-items: center;
    position: relative;
}

.company-showoff{
    font-size: 2.4rem;
    line-height: 1.4;
    padding-top: 3rem;
    text-align: center;
}

.companies-container img {
object-fit: contain
}

.companiew-row-one{
    /*margin-bottom: 41rem; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 10rem;
    /* align-items: stretch; */
    justify-content: flex-start;
    background-image: url(https://renderer-v2.vercel.app/_next/image?url=https%3A%2F%2Fapi.typedream.com%2Fv0%2Fdocument%2Fpublic%2F8c4d24ce-37bd-4e4b-9925-04f8a375d0ec_Group_1_7_png.png&w=1920&q=100);
    clip-path: inset(11% 5% -4% 5%);
    /* clip-path: inset(15% 7% -4% 5%); */
    background-size: cover;
    /* height: 70vh; */
    padding: 10rem 10rem 2rem 10rem;
    position: relative;

}

.row-one-elements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    justify-content: space-between;
    padding: 5rem 0;
    text-align: center;
    margin-bottom: 5rem;
}

.row-one-elements div img{
    width: 60%;
}

.row-one-elements span{
    display: block;
    font-size: 1.5rem;
    font-family: Space Mono;
}

@media screen and (max-width: 680px) {
    .row-one-elements{
        margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    }
    .row-one-elements span{
        display: block;
        font-size: 1rem;
        font-family: Space Mono;
    }

    .companiew-row-one{
        gap: 5rem;
    }
  }

  @media screen and (max-width: 510px) {
    .row-one-elements div img{
        width: 40%;
    }

    .row-one-elements div span{
        font-size: 1rem;
    }
    .row-one-elements{
        display: flex;
        flex-direction: column;
        padding: 5rem 0;
    }
    .companiew-row-one{
        display: flex;
        flex-direction: column;
        justify-items: center;
        gap: 0;
        background-image: url(https://renderer-v2.vercel.app/_next/image?url=https%3A%2F%2Fapi.typedream.com%2Fv0%2Fdocument%2Fpublic%2F8c4d24ce-37bd-4e4b-9925-04f8a375d0ec_Group_1_7_png.png&w=1920&q=100);
    clip-path: inset(11% 11% -4% 11%);
    }

    .last-logo{
        padding-bottom: 8rem;
    }
  }

