html{
    /* font-size: 10px; */
    font-size: 62.5%;  /*10/16 = 0.625*100 => 62.5%*/
    font-family: inter,  helvetica,  apple color emoji,  segoe ui emoji,  notocoloremoji,  noto color emoji,  segoe ui symbol,  android emoji,  emojisymbols,  -apple-system,  blinkmacsystemfont,  segoe ui,  roboto,  helvetica neue,  noto sans,  sans-serif, boxicons, space mono, crisp noto sans regular,  arial;

}

*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

.nav-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: #fff;
    
}

img{
    width: 12%;
}

.nav{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 2rem;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    /* margin-top: 1rem; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    /* max-width: 100vw; */
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.nav-logo{
    display: flex;
    align-items: center;
}
.nav-head{
    background-image:linear-gradient(135deg, #6699FF 0%, #FF3366 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
    font-size: 2rem;
}

.nav-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
    /* color: #282a30; */
}

.nav-options span a{
    /* color: #fff; */
}

.nav-options select{
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    /* color: #282a30; */
    background: none;
}

.nav-options span:last-child{
    color: #F7CC5C;
}

.nav-button{
    justify-self: center;
    background-color: #5e5df0;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: transform .1s ease-out;
}

.join:link, .join:visited{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.nav-button:hover{
    transform: translateY(-.3rem);
    /* background-color: red; */
}

.theme{
    align-self: flex-end;
    margin-top: 6rem;
    margin-right: 4rem;
    cursor: pointer;
}

.theme svg {
   
    transform: translateY(16px);
    z-index: 1;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    border: 0;
    background-color: #dcdcdc40;
    color: #00000026;
    padding: 1rem;
}


.burger-icon{
    display: none;
}

.burger-menu{
    display: none;
}

@media screen and (max-width: 1090px) {
    .nav{
        display: flex;
        justify-content: space-between;
        width: 100vw;
        position: relative;
        flex-wrap: nowrap;
    }
    
    

    .burger{
        display: flex;
        flex-direction: column;
        /* gap: 2rem; */
        /* background: #fff; */
    }

    .burger-icon{
        display: block;
        font-size: 4rem;
        /* margin-top: 7rem; */
        justify-self: flex-end;
        align-self: flex-end;
    }

    .burger-menu{
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        top: 5.8rem;
        gap: 2rem;
        overflow: scroll;
        height: 100vh;
        padding: 2rem;
    }

    .burger-menu select{
        border: none;
        text-align: left;
        width: 10rem;
        font-size: 2rem;
    }
   
    .nav-options{
        display: none;
    }
    .nav-button{
        display: none;
    }

    
  }


